Source: ethercat
Section: misc
Priority: optional
Maintainer: Rin Iwai <rin@eyrin.jp>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13), dh-sequence-dkms, pkg-config
Standards-Version: 4.6.2
Homepage: https://etherlab.org/en/ethercat/
Vcs-Browser: https://github.com/eyr1n/ethercat
Vcs-Git: https://github.com/eyr1n/ethercat.git

Package: igh-ethercat
Architecture: any
Depends:
 ${shlibs:Depends}, ${misc:Depends}
Description: IgH EtherCAT Master for Linux

Package: igh-ethercat-dkms
Section: kernel
Architecture: any
Depends:
 autoconf, automake, dkms, igh-ethercat (= ${source:Version}),
 libtool, pkg-config, ${shlibs:Depends}, ${misc:Depends}
Description: IgH EtherCAT Master for Linux - kernel modules
