Source: ethercat
Section: unknown
Priority: optional
Maintainer: Rin Iwai <rin@eyrin.jp>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/ethercat
#Vcs-Git: https://salsa.debian.org/debian/ethercat.git

Package: ethercat
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
