#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ --with dkms

override_dh_autoreconf:
	dh_autoreconf ./bootstrap

override_dh_auto_configure:
	dh_auto_configure -- --disable-kernel

override_dh_auto_install:
	dh_auto_install --destdir=debian/igh-ethercat
	install -D debian/prebuild.sh debian/igh-ethercat-dkms/usr/src/igh-ethercat-$(DEB_VERSION)/prebuild.sh
	tar xvf ../ethercat_$(DEB_VERSION_UPSTREAM).orig.tar.gz -C debian/igh-ethercat-dkms/usr/src/igh-ethercat-$(DEB_VERSION) --strip-components=1

override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start

override_dh_dkms:
	dh_dkms -V $(DEB_VERSION)
